# Dependencies
node_modules/

# Data
 data/
*.db
*.sqlite

# SSL Certificates
nginx/ssl/*.crt
nginx/ssl/*.key
nginx/ssl/*.pem

# Environment
.env
.env.local
ircord-landing/config.js
turn/turnserver.conf

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
